@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'AR One Sans', sans-serif;
    background-image: url('./assets/bg.webp');
    background-position: center;
    background-size: cover;
    position: relative;
}
form{
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 10px;
    text-align: center;
    background: transparent;
}
button {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  outline: none;
  padding: 0.5rem;
  min-width: 100px;
  position: absolute;
  top: 70%;
  right: 46%;
  text-align: center;
}
button:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in;
}
input{
    padding: 0.5rem;
    outline: none;
    border: 2px solid rgb(0,149,255);
    font-size: 16px;
    border-radius: 18px;
    background-color: rgba(0, 149, 255, 0.13);
    color: #fff;
}
label{
    font-size: 18px;
    color: #fff;
    text-shadow: 2px 2px 10px black;    
}
h1{
    color: rgb(0, 119, 255);
    text-decoration: underline;
    text-shadow: 2px 2px 10px black;
}
.hidden{
    display: none;
    color: white;
}